.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;

    cursor: pointer;

    transition: .3s;

    padding: 8px 16px;

    outline: none;
    border: none;

    background: var(--turquoise);

    border-radius: 10px;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;

    color: var(--violet);
}

@media(hover: hover) {
    .btn:hover {
        background: var(--white);
        transform: translateY(-3px);
    }
}

.btn:focus-visible {
    background: var(--white);
    transform: translateY(-3px);
}